[main]
node = https://privatenode2.blackturtle.eu
# select the network: testnet or mainnet
network = turtlenetwork
matcher = https://privatematcher.blackturtle.eu
order_fee = 4000000
order_lifetime = 86400

[account]
private_key = 

[market]
amount_asset = TN
price_asset = EzwaF58ssALcUCZ9FbyeD1GTSteoZAQZEDTqBAXHfq8y

[grid]
interval = 0.05
tranche_size = 100000000000
grid_levels = 20
# base price calculation: LAST, BID, ASK, nnnnn (fixed constant price)
base = last
# amount flexibility in percent, 20% flexibility means that the amount of the order might flucture +/- 10% around the defined tranche_size
flexibility = 20
# grid type: SYMMEMTRIC, BIDS only, ASKS, only
type = SYMMETRIC

[logging]
logfile = bot.log


